API_KEY=change-me

POSTGRES_DB=payments
POSTGRES_USER=payments
POSTGRES_PASSWORD=payments
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
